.about {
  display: flex;
  padding: 80px 104px;
  gap: 56px;
}

.about__img {
  max-width: 100%;
  object-fit: contain;
}

.about__info {
  padding-top: 50px;
}

.about__title {
  font-family: "Roboto Slab", sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
  margin: 0;
}

.about__description {
  margin: 0;
  max-width: 604px;
  padding-top: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
}
