.header {
  padding: 0 104px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin-bottom: 80px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.header__title {
  font-weight: bold;
  font-size: 20px;
  line-height: 24px;
  justify-self: flex-start;
  font-family: "Roboto Slab", sans-serif;
}

.header__btn-container {
  display: flex;
  align-items: center;
  gap: 32px;
}

.header__btn {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.header__btn-active {
  border-bottom: solid 3px white;
}

.header__btn_save-articles {
}

.header__btn_main {
  font-style: normal;
  padding-bottom: 26px;
  padding-top: 26px;
}

.header__btn_logout {
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 19px;
  max-width: 176px;
  font-style: normal;
  border: 1px solid white;
  border-radius: 100px;
}
