.search-form {
  overflow: hidden;
  border: none;
  height: 64px;
  background: transparent;
  border-radius: 100px;
  position: relative;
}

.search-form__input {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: black;
  padding: 0;
  padding-left: 0px;
  margin: 0;
  width: 580px;
  border-radius: 100px;
  height: 64px;
  border: white;
  padding-left: 24px;
}

.search-form__btn {
  position: absolute;
  right: 0;
  top: 0;
  background: #2f71e5;
  border-radius: 100px;
  height: 64px;
  border: none;
  padding: 0;
  margin: 0;
  width: 168px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  transition: 0.7s ease;
  cursor: pointer;
}

.search-form__btn:hover {
  background: #347eff;
}

.search-form__btn:active {
  background: #2a65cc;
}
