.button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}

.button__main {
  cursor: pointer;
  width: 288px;
  padding: 18px 0;
  border: 1px solid white;
  border-radius: 100px;
  background: white;
  color: #1a1b22;
  align-self: center;
  margin-top: 64px;
}

.button__header {
  color: inherit;
  fill: inherit;

  margin: 0;
  padding: 0;
  background: transparent;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 19px;
  padding-right: 19px;
  max-width: 176px;
  border: 1px solid;
  border-radius: 100px;
}
