.button {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  cursor: pointer;
}

.button__main {
  cursor: pointer;
  width: 288px;
  padding: 18px 0;
  border: 1px solid white;
  border-radius: 100px;
  background: white;
  color: #1a1b22;
  align-self: center;
  margin-top: 64px;
  transition: 0.7s ease;
}

.button__main:hover {
  opacity: 0.9;
}

.button__header {
  color: inherit;
  fill: inherit;
  margin: 0;
  padding: 0;
  background: transparent;
  padding: 12px 19px;
  max-width: 176px;
  border: 1px solid;
  border-radius: 100px;
}


@media screen and (max-width: 1280px) {
  .button__header {
    font-size: 16px;
    padding: 8px 12px;
  }
}