.App {
  max-width: 1440px;
  margin: auto;
  display: flex;
  flex-direction: column;
  background: url("../../images/main-background.jpg") no-repeat;
}

@media screen and (max-width: 1280px) {
  .App {
    background-size: 768px 400px;
    background: url("../../images/main-background-768.png") no-repeat;
  }
}
