.footer {
  display: flex;
  justify-content: space-between;
  color: black;
  padding: 24px 104px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  gap: 40px;
}

.footer__copyright {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
  color: #b6bcbf;
}

.footer__navigation {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  gap: 40px;
  font-size: 18px;
  line-height: 24px;
  color: #1a1b22;
}

.footer__navigation-column-link {
  display: flex;
  gap: 40px;
}

.footer__social-link {
  display: flex;
  gap: 28px;
}

.footer__link {
  text-decoration: none;
  color: black;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 768px) {
  .footer {
    padding: 21px 40px;
  }
  .footer__navigation {
    gap: 25px;
  }

  .footer__navigation-column-link {
    gap: 25px;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    flex-direction: column-reverse;
    padding: 20px 16px;
  }

  .footer__navigation {
    justify-content: space-between;
  }

  .footer__navigation-column-link {
    flex-direction: column;
    min-height: 74px;
    justify-content: space-between;
  }
}
